.pink-background {
  background-color: #FFFEFA;
}

.header-logo img {
  float:left;
  width: 100px;
  height: 100px;

}

body {
  margin: 0;
  background-color:#FFFEFA;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1, h3, a {
  font-family: Futura;
}

h1 {
  font-size: 28px;
}

a {
  text-decoration: none;
}

input, textarea {
  margin-bottom: 15px;
}

button {
  padding: 10px;
  font-size: 20px;
  font-family: Futura;
  border: none;
  border-radius: 5px;
  opacity: 50%;
  transition: 2s;
}

button:hover {
  opacity: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: 3px;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    flex-direction: column-reverse;
  }
  #blog-content {
      flex-direction: column;
  }
}

#front-page-image {
    height: auto;
    width: 50%;
    border-radius: 5px;
}

#front-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.blog-image {
    width: 80%;
}

#blog-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog-tile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#aboutme-page { 
  display: flex;
  align-items: center;
  margin: 30px;
}

#contact-page {
    text-align: center;
    
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding-10 {
  padding: 10px;
}

#mimi-romijn {
  max-width: 80%;
}

