.pink-background {
  background-color: #fffefa;
}

.logo {
  float: left;
  height: auto;
  width: 300px;
  margin-top: 5px;
  margin: 5px;
}

body {
  margin: 0;
  background-color: #fffefa;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1, h3, h4, a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 28px;
}

a {
  text-decoration: none;
}

input, textarea {
  margin-bottom: 15px;
}

button {
  padding: 10px;
  font-size: 20px;
  font-family: Futura;
  border: none;
  border-radius: 5px;
  opacity: 50%;
  transition: 2s;
}

button:hover {
  opacity: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: 3px;
  color: #fa5553;
}

a:visited {
  color: #fa5553;
}

input[type="text"], input[type="email"], textarea {
  width: 50%;
  padding: 12px;
  border: none;
  box-sizing: border-box;
  box-shadow: open;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #fa5553;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column-reverse;
  }

  #front-page-image {
    height: auto;
    width: 60%;
  }

  #blog-content {
    flex-direction: column;
  }

  .h1 {
    font-size: 30px;
  }

  .aboutme-text {
    flex-direction: column;
  }
}

#front-page-image {
  height: auto;
  width: 50%;
  border-radius: 5px;
}

#front-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Blog Page */
.blog-image {
  width: 80%;
  display: flex;
}

#blog-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.blog-tile {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

/*  */
#aboutme-page {
  display: flex;
  align-items: center;
  margin: 30px;
}

#mimi-romijn {
  align-items: center;
  margin: 30px;
}

/* Contact Page */
#contact-page {
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 0px, 0px, 0px, 0px;
  background-color: #fffefa;
}

*:focus {
  outline: 0;
}

.container {
  padding: 12px, 24px, 24px, 24px;
  margin: 48px 12px;
  background: #fffefa;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border: solid #f9d2e4;
}

.padding-10 {
  padding: 10px;
}

#mimi-romijn {
  max-width: 80%;
}
/* Links to profiles */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  bottom: 0;
}

.fa {
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
}

.fa-linkedin {
  background-color: #f9d2e4;
  color: #ff3eb3;
}

.fa-twitter {
  background: #f9d2e4;
  color: #ff3eb3;
}

.fa-github {
  background: #f9d2e4;
  color: #ff3eb3;
}

.fa:hover {
  opacity: 0.7;
}

/* Portfolio Page */

body {
  background: #fffefa;
  color: #fa5553;
}

@keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -40%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 2000ms ease;
  -webkit-animation: fadeIn 2000ms ease;
}

h1 {
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #ff3eb3;
}

p {
  text-align: center;
  margin: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

h4 {
  font-weight: lighter;
}

.author, .date {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

.icons {
  text-align: center;
}

.icons i {
  color: #fffefa;
  background: #ff3eb3;
  height: 15px;
  width: 15px;
  padding: 13px;
  margin: 5px;
  border-radius: 50px;
  border: 2px solid #fffefa;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.icons i:hover, .icons i:active {
  color: #ff3eb3;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
}

.link-spacing {
  padding: 6.18px;
}

.separate-links .link-spacing {
  opacity: 1;
}

.separate-links .link-spacing:hover {
  opacity: 0.5;
}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}