.pink-background {
  background-color: #FFFEFA;
}

.logo {
  float: left;
  height: auto;
  width: 300px;
  margin-top: 5px;
  margin: 5px;
}

.index-slide-images {
  width: 100%;
  height: 0px;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}

.index-slide-images img {
  position: absolute;
  animation: 20s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
}

@keyframes index-slide-images {
  25%{opacity:1;} 
  40%{opacity:0;}
.index-slide-images img:nth-child(4){animation-delay:0s;}
.index-slide-images img:nth-child(3){animation-delay:5s;}
.index-slide-images img:nth-child(2){animation-delay:10s;}
.index-slide-images img:nth-child(1){animation-delay:15s;}
}

body {
  margin: 0;
  background-color:#FFFEFA;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1, h3, a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 28px;
}

a {
  text-decoration: none;
}

input, textarea {
  margin-bottom: 15px;
}

button {
  padding: 10px;
  font-size: 20px;
  font-family: Futura;
  border: none;
  border-radius: 5px;
  opacity: 50%;
  transition: 2s;
}

button:hover {
  opacity: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border: 3px;
  color: #FA5553;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:visited {
  color: #FA5553
}

input[type=text], input[type=email], textarea {
  width: 50%;
  padding: 12px;
  border: none;
  box-sizing: border-box;
  box-shadow: open;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #FA5553;
  font-family: 'Open Sans', sans-serif;
  
}

@media screen and (max-width: 480px) {
  .nav-bar {
    flex-direction: column-reverse;
  }

  #front-page-image {
    height: auto;
    width: 60%;
  }

  #blog-content {
      flex-direction: column;
  }

  .h1 {
    font-size: 30px;
  }
}

#front-page-image {
    height: auto;
    width: 50%;
    border-radius: 5px;
}

#front-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.blog-image {
    width: 80%;
}

#blog-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.blog-tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
}

/*  */
#aboutme-page { 
  display: flex;
  align-items: center;
  margin: 30px;
}

#contact-page {
    text-align: center;
    
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0px, 0px, 0px, 0px;
    background-color: #FFFEFA;
}

*:focus {
  outline: 0;
}


.container {
  padding: 12px, 24px, 24px, 24px;
  margin: 48px 12px;
  background: #FFFEFA;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus {
  border: solid green;
}


.padding-10 {
  padding: 10px;
}

#mimi-romijn {
  max-width: 80%;
}
/* Links to profiles */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  bottom: 0;
}

.fa {
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
}

.fa-linkedin {
  background-color: #F9D2E4;
  color: #FF3EB3; 
}

.fa-twitter {
  background: #F9D2E4;
  color: #FF3EB3;
}

.fa-github {
  background: #F9D2E4;
  color: #FF3EB3;
}

.fa:hover {
  opacity: 0.7;
}

/* Portfolio Page */

body {
  background:#FFFEFA;
  color: #FA5553;
}


@keyframes fadeIn {
  from {top: 20%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}

@-webkit-keyframes fadeIn {
  from {top: 20%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -40%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 2000ms ease;
  -webkit-animation: fadeIn 2000ms ease;
  
}

h1 {
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #FF3EB3;
}

p {
  text-align: center;
  margin: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  
}

.icons {
  text-align: center;
  
}

.icons i {
  color: #FFFEFA;
  background: #FF3EB3;
  height: 15px;
  width: 15px;
  padding: 13px;
  margin: 5px;
  border-radius: 50px;
  border: 2px solid #FFFEFA;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.icons i:hover, .icons i:active {
  color: #FF3EB3;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
  
}

.link-spacing {
  padding: 6.18px;
}

.separate-links .link-spacing {
  opacity: 1;
}

.separate-links .link-spacing:hover {
  opacity: 0.5;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
